<section class="list-title">
   <div>
      <h2>Books Available</h2>
    </div>
</section>
<section class="card-list">
    {{#each books as |book|}}
    {{> book-brief}}
    {{/each}}
</section>
</section>
