<section class="card">
  <a href="/books/{{id}}">
    <header class="card-body">{{title}}</header>

    <div >
      <img src="{{thumbnail}}">
      <p>By: {{authors}}</p>
    </div>
  </a>
</section>
<script src="/js/add.js"></script>